body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

#text-output {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    text-align: left;
}

#loss-graph {
    width: 80%;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
}
